<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.workbench.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.workbench.domain.Activity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="CHAR" property="owner" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_date" jdbcType="CHAR" property="startDate" />
    <result column="end_date" jdbcType="CHAR" property="endDate" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owner, name, start_date, end_date, cost, description, create_time, create_by, 
    edit_time, edit_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_activity
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.crm.workbench.domain.Activity">
    insert into tbl_activity (id, owner, name, start_date, 
      end_date, cost, description, 
      create_time, create_by, edit_time, 
      edit_by)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR}, 
      #{endDate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.crm.workbench.domain.Activity">
    insert into tbl_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editBy != null">
        edit_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.crm.workbench.domain.Activity">
    update tbl_activity
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=CHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=CHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.crm.workbench.domain.Activity">
    update tbl_activity
    set owner = #{owner,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=CHAR},
      end_date = #{endDate,jdbcType=CHAR},
      cost = #{cost,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <!--多条件分页查询市场活动列表数据-->
  <select id="selectActivityListForPageByCondition" resultMap="BaseResultMap">


         select
        u.name as owner,a.name,a.start_date,a.end_date,
        a.id, a.cost, a.description, a.create_time, a.create_by, a.edit_time, a.edit_by
    from
        tbl_activity a
    left join
        tbl_user u
    on
        a.owner = u.id
    <where>
      <if test="activityName != null and activityName != ''">
        and a.name like '%' #{activityName} '%'
      </if>
      <if test="ownerName != null and ownerName != ''">
        and u.name like '%' #{ownerName} '%'
      </if>

        <if test="startDate != null and startDate != ''">
          <![CDATA[
          and a.start_date >= #{startDate}
           ]]>
        </if>
        <if test="endDate != null and endDate != ''">
        <![CDATA[
          and a.end_date <= #{endDate}
           ]]>
        </if>

    </where>

    order by
        a.start_date
    limit #{pageNo},#{pageSize}

  </select>

  <!--获取总记录数-->
  <select id="selectAllCount" resultType="java.lang.Integer">
    select
        count(a.id)
    from
    tbl_activity a
    left join
    tbl_user u
    on
    a.owner = u.id
    <where>
      <if test="activityName != null and activityName != ''">
        and a.name like '%' #{activityName} '%'
      </if>
      <if test="ownerName != null and ownerName != ''">
        and u.name like '%' #{ownerName} '%'
      </if>
      <if test="startDate != null and startDate != ''">
        <![CDATA[
          and a.start_date >= #{startDate}
           ]]>
      </if>
      <if test="endDate != null and endDate != ''">
        <![CDATA[
          and a.end_date <= #{endDate}
           ]]>
      </if>
    </where>
  </select>

  <!--批量删除记录-->
  <delete id="deleteActivity">
    delete from tbl_activity where id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <!--批量保存市场活动-->
  <insert id="saveImportActivityList">
        insert into
        tbl_activity (id, owner, name, start_date, end_date, cost, description, create_time, create_by, edit_time, edit_by) values
        <foreach collection="list" item="obj" separator=",">
          (#{obj.id,jdbcType=CHAR}, #{obj.owner,jdbcType=CHAR}, #{obj.name,jdbcType=VARCHAR}, #{obj.startDate,jdbcType=CHAR},
        #{obj.endDate,jdbcType=CHAR}, #{obj.cost,jdbcType=VARCHAR}, #{obj.description,jdbcType=VARCHAR},
        #{obj.createTime,jdbcType=CHAR}, #{obj.createBy,jdbcType=VARCHAR}, #{obj.editTime,jdbcType=CHAR},
        #{obj.editBy,jdbcType=VARCHAR})

        </foreach>

  </insert>

  <!--获取所有市场活动列表-->
  <select id="selectAllActivityList" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"></include>
    from
        tbl_activity
  </select>

  <!--根据市场活动标识获取市场活动的详情-->
  <select id="selectActivityAllDetailById" resultMap="BaseResultMap">
        select
            u.name as owner,u1.name as create_by,u2.name as edit_by,
            a.id, a.name, a.start_date, a.end_date, a.cost, a.description, a.create_time,a.edit_time
        from
            tbl_activity a
        left join
            tbl_user u
        on
            a.owner = u.id
        left join
            tbl_user u1
        on
            a.create_by = u1.id
        left join
            tbl_user u2
        on
            a.edit_by = u2.id
        where
            a.id = #{id}
  </select>

  <!--查询线索关联的市场活动列表数据-->
  <select id="selectClueActivityListByClueId" resultMap="BaseResultMap">
        select
            a.name,a.start_date,a.end_date,u.name as owner,
            a.id,a.cost, a.description, a.create_time, a.create_by, a.edit_time, a.edit_by
        from
            tbl_activity a
        right join
            tbl_clue_activity_relation car
        on
            car.activity_id = a.id
        left join
            tbl_user u
        on
            a.owner = u.id
        where
                car.clue_id = #{clueId}
  </select>

  <!--查询未关联的市场活动列表-->
  <select id="selectUnbindClueActivityRelationList" resultMap="BaseResultMap">
        select
            a.name,a.start_date,a.end_date,u.name as owner,
            a.id,a.cost, a.description, a.create_time, a.create_by, a.edit_time, a.edit_by
        from
            tbl_activity a
        left join
            tbl_user u
        on
            a.owner = u.id
        where
            a.id not in(select activity_id from tbl_clue_activity_relation where clue_id = #{clueId})
        and a.name like '%' #{searchActivityName} '%'
  </select>

    <!--根据市场活动名称模糊查询线索已关联的市场活动列表-->
    <select id="selectClueActivityListByClueIdAndActivityName" resultMap="BaseResultMap">
        select
            a.name,a.start_date,a.end_date,u.name as owner,
            a.id,a.cost, a.description, a.create_time, a.create_by, a.edit_time, a.edit_by
        from
            tbl_activity a
        right join
            tbl_clue_activity_relation car
        on
            car.activity_id = a.id
        left join
            tbl_user u
        on
            a.owner = u.id
        where
                car.clue_id = #{clueId} and a.name like '%' #{activityName} '%'
    </select>
</mapper>