<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.workbench.mapper.ClueActivityRelationMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="clue_id" jdbcType="CHAR" property="clueId" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, clue_id, activity_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_clue_activity_relation
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_clue_activity_relation
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    insert into tbl_clue_activity_relation (id, clue_id, activity_id
      )
    values (#{id,jdbcType=CHAR}, #{clueId,jdbcType=CHAR}, #{activityId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    insert into tbl_clue_activity_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clueId != null">
        clue_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="clueId != null">
        #{clueId,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    update tbl_clue_activity_relation
    <set>
      <if test="clueId != null">
        clue_id = #{clueId,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.crm.workbench.domain.ClueActivityRelation">
    update tbl_clue_activity_relation
    set clue_id = #{clueId,jdbcType=CHAR},
      activity_id = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <!--解除线索与市场活动的关系-->
  <delete id="doUnbindClueActivityRelation">
    delete from tbl_clue_activity_relation where activity_id = #{activityId} and clue_id = #{clueId}
  </delete>

  <!--批量保存-->
  <insert id="saveBindClueActivityRelationList">
     insert into tbl_clue_activity_relation (id, clue_id, activity_id) values
    <foreach collection="list" separator="," item="obj">
     (#{obj.id,jdbcType=CHAR}, #{obj.clueId,jdbcType=CHAR}, #{obj.activityId,jdbcType=CHAR})
    </foreach>
  </insert>

  <!--获取线索与市场活动关系列表数据-->
  <select id="selectClueActivityRelationListByClueId" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"></include>
    from
        tbl_clue_activity_relation
    where
        clue_id = #{clueId}
  </select>

  <!--删除线索关联的市场活动信息-->
  <delete id="deleteClueActivityRelationList">
    delete from  tbl_clue_activity_relation where clue_id = #{clueId}
  </delete>
</mapper>